<div class="backgroundCreateUser">
   <div id="form" class="opacityBox">
      <h2>Login</h2>

      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}

      <form action="/auth/login" method="POST">

         <label> Email:
            <input type="email" name="email" placeholder="rockstar@ironhack.com" required />
         </label>

         <label>Password:
            <input type="password" name="password" placeholder="********" required />
         </label>

         <button class="btn btn-success" type="submit">Login</button>

      </form>

      <p>
         If you don't have an account, click <a href="/auth/createUser">here</a> to register.
      </p>
   </div>
</div>