
<div class="backgroundCreateUser">
    <h1>User Profile from {{ userInSession.userName}}</h1>
        <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
</div>