<div class="backgroundCreateUser">
    <div class="opacityBox">
        <form action="/auth/logout" method="POST"></form>
        <h1>
            User Profile from {{ userInSession.userName}} <button class="btn btn-success" type="submit">Logout</button>
            </form>
        </h1>
        <p></p>
        <h3>if you need to wait while your pizza is in the Oven. </h3>
        <h3> Here are some games you might want to play while waiting!</h3>
        <div class="align-middle">
            <div>
                <img class="linkImageUser" src="../images/spacePizza.png" alt="">
                <a href="https://bartocaster.github.io/dungeon-Crawler/">Dungeon Crawler</a>
            </div>
            <p></p>
            <div>
                <img class="linkImageUser" src="../images/spacePizza.png" alt="">
                <a href="https://rospini.github.io/Oort-Cloud-Defenders/">Oort Cloud Defenders</a>
            </div>
        </div>
    </div>
</div>