

<div class="background">
    <div class="centerLinkText">
        <div class="textRow">
            <div class="textLink">
                <a class="linkColor" href="/papaPizza/create/ingredients"> Create Ingredients<img class="linkImage" src="./images/pizzaman.png" alt="pizza with a man"></a> 
            </div>
            <div class="textLink">
                <a class="linkColor" href="/papaPizza">Pizza Recepies<img class="linkImage" src="./images/pizzaman.png" alt="pizza with a man"></a> 
            </div>
            <div class="textLink">
                <a class="linkColor" href="/papaPizza/create">Create a Pizza<img class="linkImage" src="./images/pizzaman.png" alt="pizza with a man"></a> 
            </div>
        </div>
    </div>
</div>