<div class="backgroundHome">
    <div class="centerLinkText">
        <div class="container">
            <div class="opacityBox textIndexRow">
                    <div class="textLink">
                        <a class="linkColor" href="/papaPizza"><img class="linkImage"
                                src="./images/pizza-green-logo2.png" alt="pizza with a man">Pizza Recepies</a>
                    </div>
                    <div class="textLink">
                        <a class="linkColor" href="/papaPizza/create"><img class="linkImage"
                                src="./images/pizza-green-logo3.png" alt="pizza with a man">Create a Pizza</a>
                    </div>
                    <div class="textLink">
                        <a class="linkColor" href="/papaPizza/create/ingredients"><img class="linkImage"
                                src="./images/pizza-green-logo1.png" alt="pizza with a man">Add Ingredients to the
                            Kitchen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>