

<div id="homeHeader"> 
        <h1>{{title}} 🚀</h1>
        <p>Welcome Ironhacker!</p>
</div>
<div class="textRow">
        <div class="textLink">
            <a class="linkColor" href="/papaPizza/create/ingredients"><img class="linkImage" src="./images/pizzaman.png" alt="pizza with a man"> Create Ingredients</a> 
        </div>
        <div class="textLink">
            <a class="linkColor" href="/papaPizza"><img class="linkImage" src="./images/pizzaman.png" alt="pizza with a man">pizza</a> 
        </div>
        <div class="textLink">
            <a class="linkColor" href="/papaPizza/create"><img class="linkImage" src="./images/pizzaman.png" alt="pizza with a man">create pizza</a> 
        </div>
</div>