<nav>
<a href="/auth/createUser">register</a> | 
<a href="/auth/login">login</a> | 
<a href="/auth/user-profile">user profile</a>  <br />
</nav>
<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<a href="/papaPizza/create/ingredients">Create Ingredients</a> | <br />
<a href="/papaPizza">pizza</a> | <br />
<a href="/papaPizza/create">create pizza</a> | <br />

