<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>
<a href="/auth/createUser">register</a> | <br />
<a href="/auth/login">login</a> | <br />
<a href="/auth/user-profile">user profile</a> | <br />



<a href="/papaPizza">pizza</a> | <br />
<a href="/papaPizza/create">create pizza</a> | <br />

