body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.background{
max-width: 100%;
background-image: url("/images/pizzahintergrund.jpg");
background-repeat: no-repeat;
height: 800px;
}
h1 {
  color: 15px;
}
#homeHeader{
  text-align: center;
  margin-top: 15vh;
}
.centerLinkText{
  text-align: center;
}
.textLink{
  margin-top: 40px;
}
.textRow{
  
  display: inline-block; text-align: right;
}
.linkColor{
  color: rgb(249, 250, 249);
  background-color: transparent;
  text-decoration: underline;
}
.linkImage{
max-width: 10%;
}