body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
#homeHeader{
  text-align: center;
  margin-top: 15vh;
}
.textRow{
  /* display:table-cell;vertical-align:center; */
  justify-content: center;
  align-items:center;
}
.textLink{
  
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.linkColor{
  color: rgb(249, 250, 249);
  background-color: transparent;
  text-decoration: underline;
}
.linkImage{
max-width: 5%;
}