body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.backgroundHome{
max-width: 100%;
background-image: url("/images/pizzaOnFire.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 900px;
}
.backgroundCreateUser{
  max-width: 100%;
  background-image: url("/images/pizzas1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  }
.backgroundCreatePizza{
    max-width: 100%;
    background-image: url("/images/pizzaDough.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
  }
.backgroundPizzaDetails{
  max-width: 100%;
  background-image: url("/images/pizzaTopping.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  }
.backgroundlist{
  max-width: 100%;
  background-image: url("/images/pizzas2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1350px;
  /* color: beige; */
}
h1 {
  color: 15px;
}
#homeHeader{
  text-align: center;
  margin-top: 15vh;
}
.centerLinkText{
  text-align: center;
}
.textLink{
  margin-top: 40px;
}
.textRow{
  font-size: x-large;
  display: inline-block; text-align: left;
}
.whiteText{
  color: rgb(249, 250, 249);
}
.linkColor{
  color: rgb(249, 250, 249);
  background-color: transparent;
  text-decoration: none;
}
.linkImage{
max-width: 100px;
}
.col{
  margin: 20px;
  padding: 20px;
}
.pizzasListBox{
   display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
}
.pizzasListRow{
 width: 33%;
max-width: 15%;
}
.sideway{
  display: flex;
  flex-direction: row;
}
#space{
  padding-left: 10px;
}

#whitelink{
  color: rgb(249, 250, 249);
}