<h2>Create a pizza</h2>

<form action="/pizza/create" method="post">
  <label>
    Name:
    <input type="text" name="name" />
  </label>
  <br />

  <label>
    type of Pizza:
    <input type="text" name="type" />
  </label>
  <br />

  <label>
    Details:
    <textarea name="details" cols="30" rows="4"> </textarea>
  </label>
  <br />

  <label> type of Dough
    <select name="dough">
     <option value="{{this._id}}">{{name}}</option>
    </select>
  </label>
  
  <label>
    Saus base:
    <input type="text" name="saus" />
  </label>
  <br />

  <button type="submit"> Create </button>
</form>