<h1> pizza's in our Papa database</h1>
<nav>
  <a href="/">Home</a>
  </nav>

  <a href="/papaPizza/pizza-details">temperaly detail button</a>
{{#each pizzas}}
<section class="pizza's-summary">
<h2>{{this.name}}</h2>
<a href="/pizza/{{this._id}}">more details</a> |

</section>
{{/each}}
