<h2>Create pizza ingredients</h2>

<form action="/papaPizza/create/ingredients" method="POST">
  <label> Add your ingredient:
    <input type="text" name="toppings" />
  </label>
<button class="btn btn-success" type="submit"> Create </button>
</form>