<h2>Create a pizza</h2>
<nav>
<a href="/">Home</a>
</nav>
<form action="/pizza/create" method="post">
  <label>
    Name:
    <input type="text" name="name" />
  </label>
  <br />

  <label>
    type of Pizza:
    <input type="text" name="type" />
  </label>
  <br />

  <label>
    Details:
    <textarea name="details" cols="30" rows="4"> </textarea>
  </label>
  <br />

  <label> type of cheese:
    <select name="dough">
     <option value="neapolitian"> Neapolitian (normale pizza dough)</option>
     <option value="gluten free"> Gluten free pizza dough</option>
     <option value="vegie dough"> Vegie dough</option>
    </select>
  </label>
  <br />

  <label>
    Saus base:
    <input type="text" name="saus" />
  </label>
  <br />

    <label>
    Toppings:
    <select>

      
    </select>
      <input type="text" name="toppings" />
      <input type="text" name="toppings" />
      <input type="text" name="toppings" />
  </label>
  <br />

  <button type="submit"> Create </button>
</form>