<h2>Create pizza ingredients</h2>

<form action="/papaPizza/create/ingredients" method="POST">
  <label> Add your ingredient:
    <input type="text" name="name" />
  </label>
   <label> Calories:
    <input type="text" name="calories" />
  </label>
<button class="btn btn-success" type="submit"> Create </button>
</form>